[Unit]
Description=Send info message
Wants=ru_ege_telegram_bot.timer

[Service]
Type=oneshot
Environment=HOME=%h
ExecStart=/usr/bin/docker kill ru-ege-telegram-bot-prod --signal="SIGUSR1"
